{% extends "main.html" %}

{%  block title %}
        <title>{{ _("Find game") }}</title>
{%  endblock title %}

{% block content %}

    <legend class="border-bottom mb-4"><h2>{{ _("Find match") }}</h2></legend>
    {% if games %}
        <a class="btn btn-outline-info mb-3" href="{{ url_for('render_create_game') }}">{{ _("Create match") }}</a>
        {% for game in games %}
            {{ macro.make_game_card(game) }}
        {% endfor %}
    {% else %}
        <h4>{{ _("No matches here yet!") }}</h4>
        <a class="btn btn-outline-info" href="{{ url_for('render_create_game') }}">{{ _("Create match") }}</a>
    {% endif %}
{% endblock content %}