{% extends "main.html" %}

{%  block title %}
        <title>{{ _("Game observer") }}</title>
{%  endblock title %}

{% block content %}
	{% set player_1 = game.players[0] %}
	{% set player_2 = game.players[1] if game.players|length > 1 else None %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <div class="media">
                    <legend class="media-body border-bottom mb-4"><h3>{{ game.name }}</h3></legend>
                    {% if can_join %}
                        <a class="media-right" href="{{ url_for("join_game", game_id=game.id) }}">{{ _("Join") }}</a>
                    {% endif %}
                </div>

{#              TODO: Add winner #}
                <div class="horizontal-div mb-4">
	                <div class="user-info-div">
	                    <img class="account-img rounded-circle" src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="profile image"/>
		                <p class="text-secondary m-bottom-4">{{ player_1.full_name }}</p>
		                <p class="text-secondary m-bottom-4">{{ _("NTRP rating") }}: {{ player_1.skill }}</p>
	                    <p class="text-secondary m-bottom-4">
		                    {{ _("Win rate") }}: {{ player_1.wins / player_1.losses if player_1.losses > 0 else 0 }}
	                    </p>
	                </div>
	                <img class="ml-4 mr-4" src="{{ url_for('static', filename='buttons/close-24px.svg') }}" alt="X"/>
	                <div class="user-info-div">
	                    <img class="account-img rounded-circle" src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="profile image"/>
		                {% if player_2 %}
		                    <p class="text-secondary m-bottom-4">{{ player_2.full_name }}</p>
		                <p class="text-secondary m-bottom-4">{{ _("NTRP rating") }}: {{ player_2.skill }}</p>
	                    <p class="text-secondary m-bottom-4">
		                    {{ _("Win rate") }}: {{ player_2.wins / player_2.losses if player_2.losses > 0 else 0 }}
		                {% endif %}
	                </div>
                </div>

                <legend/>
                <p class="text-secondary m-bottom-4 vertical-center">{{ _("Time") }}: {{ format_date_time(game.game_date) }}</p>
            </div>
        </div>
    </div>
{% endblock content %}