{% macro make_select_field(field, class='form-control') -%}
    <select class="{{ class }}" id="{{ field.label.field_id }}" name="{{ field.label.field_id }}">
        {% for value, data in field.choices %}
            {% if value == field.data %}
                <option selected="selected" value="{{ value }}">{{ _(data) }}</option>
            {% else %}
                <option value="{{ value }}">{{ _(data) }}</option>
            {% endif %}
        {% endfor %}
    </select>
{%- endmacro %}

{% macro select_multiple_field(field, class='form-control' ) -%}
    <select multiple class="{{ class }}" id="{{ field.label.field_id }}" name="{{ field.label.field_id }}">
        {% for value, data in field.choices %}
            {% if value == field.data %}
                <option selected="selected" value="{{ value }}">{{ _(data) }}</option>
            {% else %}
                <option value="{{ value }}">{{ _(data) }}</option>
            {% endif %}
        {% endfor %}
    </select>
{%- endmacro %}

{% macro make_string_field(field) -%}
<div class="form-group">
    <label for="{{ field.label.field_id }}" class="form-control-label">{{ _(field.label.text) }}</label>
    {% if field.errors %}
        {{ field(class="form-control form-control-lg is-invalid") }}
    <div class="invalid-feedback>">
        {% for error in field.errors %}
            <span>{{error}}</span>
        {% endfor %}
    </div>
    {% else %}
        {{ field(class="form-control form-control-lg") }}
    {% endif %}
</div>
{%- endmacro %}
