{% macro make_select_field(field, class='form-control') -%}
    <select class="{{ class }}" id="{{ field.label.field_id }}" name="{{ field.label.field_id }}">
        {% for value, data in field.choices %}
            {% if value == field.data %}
                <option selected="selected" value="{{ value }}">{{ _(data) }}</option>
            {% else %}
                <option value="{{ value }}">{{ _(data) }}</option>
            {% endif %}
        {% endfor %}
    </select>
{%- endmacro %}

{% macro make_string_field(field) -%}
    <div class="form-group">
        <label for="{{ field.label.field_id }}" class="form-control-label">{{ _(field.label.text) }}</label>
        {% if field.errors %}
            {{ field(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback>">
                {% for error in field.errors %}
                    <span>{{ _(error) }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ field(class="form-control form-control-lg") }}
        {% endif %}
    </div>
{%- endmacro %}

{% macro make_ntpr_info_dialog(skills) -%}
    <dialog hidden="true" id="ntrp_info_dialog">
        {% if skills %}
            {% for skill in skills %}
                <div>
                    <p class="mb-1"><b>{{ _(skill.title) }}</b></p>
                    <p class="">{{ _(skill.description) }}</p>
                    {% if not loop.last %}
                        <legend class="border-bottom mb-2 mt-2"></legend>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        <button id="close_dialog_btn" class="btn btn-outline-info">{{ _("Close") }}</button>
    </dialog>
{%- endmacro %}

{% macro make_game_card(game) -%}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <legend class="border-bottom mb-2"><a href="{{ url_for("render_game_screen", game_id=game.id) }}">{{ game.name }}</a></legend>
                <p class="text-secondary m-bottom-4">{{ _("Time") }}: {{ format_date_time(game.game_date) }}</p>
                {% if game.players %}
                    <div class="mb-2">
                        {% set opponent = game.players[0] %}
                        <p class="text-secondary m-bottom-4">{{ _("Opponent") }}: {{ opponent.full_name }}</p>
                        <p class="text-secondary m-bottom-4">{{ _("NTRP rating") }}: {{ opponent.skill }}</p>
                        <p class="text-secondary m-bottom-4">
                            {{ _("Win rate") }}: {{ 100 * opponent.wins / opponent.losses if opponent.losses > 0 else 100 if opponent.wins > 0 else 0 }}%
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro make_file_field(field) -%}
    <div class="form-group">
        <label for="{{ field.label.field_id }}" class="form-control-label">{{ _(field.label.text) }}</label>
        {% if field.errors %}
            {{ field(class="form-control-file is-invalid") }}
            {% for error in field.errors %}
                <span>{{ _(error) }}</span>
            {% endfor %}
        {% else %}
            {{ field(class="form-control-file") }}
        {% endif %}
    </div>
{%- endmacro %}
