{% extends "main.html" %}

{% block title %}
    <title>Profile</title>
{% endblock title %}

{% block content %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" width="125" height="125" src="{{ url_for('static', filename='profile_pics/' + user.image_file_path) }}" alt="none">
            <div class="media-body ml-4 mt-3">
                <h2 class="account-heading">{{ user.full_name }}</h2>
                {% if user.phone %}
                    <p class="text-secondary m-bottom-4">{{ _("Phone") }}: {{ user.phone }}</p>
                {% endif %}
                {% if user.email %}
                    <p class="text-secondary m-bottom-4">{{ _("Email") }}: {{ user.email }}</p>
                {% endif %}
                {% if user.skill %}
                    <p class="text-secondary m-bottom-4">{{ _("NTRP rating") }}: {{ user.skill }}</p>
                {% endif %}
                {% if user.wins %}
                    <p class="text-secondary m-bottom-4">{{ _("Wins") }}: {{ user.wins }}</p>
                {% endif %}
                {% if user.losses %}
                    <p class="text-secondary m-bottom-4">{{ _("Losses") }}: {{ user.losses }}</p>
                {% endif %}

            </div>

            {% if my %}
                <div class="media-right">
                    <a href="{{ url_for('render_edit_profile') }}">
                        <img title="{{ _("Edit profile") }}"
                             src="{{ url_for('static', filename='buttons/edit-24px.svg') }}" alt="none"/>
                    </a>
                </div>
            {% endif %}

        </div>

    </div>
{% endblock content %}