{% extends "main.html" %}

{%  block title %}
        <title>Profile</title>
{%  endblock title %}

{% block content %}

    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.full_name}}</h2>
                {% if user.phone %}
                    <p class="text-secondary m-bottom-4">{{ _("Phone") }}: {{ user.phone }}</p>
                {% endif %}
                {% if user.email %}
                    <p class="text-secondary m-bottom-4">{{ _("Email") }}: {{ user.email }}</p>
                {% endif %}
                {% if user.skill %}
                    <p class="text-secondary m-bottom-4">{{ _("NTRP rating") }}: {{ user.skill }}</p>
                {% endif %}
                {% if user.wins %}
                    <p class="text-secondary m-bottom-4">{{ _("Wins") }}: {{ user.wins }}</p>
                {% endif %}
                {% if user.losses %}
                    <p class="text-secondary m-bottom-4">{{ _("Losses") }}: {{ user.losses }}</p>
                {% endif %}
                {% if user.cancels %}
                    <p class="text-secondary m-bottom-4">{{ _("Cancels") }}: {{ user.cancels }}</p>
                {% endif %}

            </div>

            {%  if my  %}
                <div class="media-right">
                    <a href="{{ url_for('render_edit_profile') }}">
                        <img title="{{ _("Edit profile") }}"
                             src="{{ url_for('static', filename='buttons/edit-24px.svg')}}" alt="none"/>
                    </a>
                </div>
            {%  endif %}

        </div>

        </div>
            {% if games and len(games) > 0 %}
                <legend class="border-bottom mb-4 mt-2"></legend>
                <div class="container padding-left-0">
                    <h5 class="align-left">{{ _("Matches") }}: </h5>
                    <div class="align-left col-sm-12">
                        {% for game in games %}
                            <p class="m-bottom-4">
{#                            TODO: Change route#}
                                <a href="{{ url_for('render_game_screen', id=game.id)}}" class="text-secondary"> {{ game.name }}</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
    </div>
{% endblock content %}